<header>
<form action="/search" method="get">
    <input type="search" placeholder="Search" name="q">
    <select name="sort">
        <option value="name">A-Z</option>
        <option value="ingredients">Ingredient Count</option>
    </select>
    <input type="submit" value="Search">
</form>
</header>