<ul>
<% recipe.ingredientGroups.forEach(function(ingredientGroup) { %>
    <li>
        <% if (ingredientGroup.heading) { %>
            <h2><%= ingredientGroup.heading %></h2>
        <% } %>

        <ul class="ingredients">
        <% ingredientGroup.ingredients.forEach(function(ingredient) { %>
            <li>
                <% if (ingredient.amount) { %>
                <span>
                    <%= ingredient.amount %>
                </span>
                <% } %>
                <% if (ingredient.unit) { %>
                <span>
                    <%= ingredient.unit %>
                </span>
                <% } %>
                <span>
                    <%= ingredient.name %>
                </span>
            </li>
        <% }); %>
        </ul>
    </li>
<% }); %>
</ul>