<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
</head>
<body>
    <% locals.recipes.forEach(function(recipe) { %>
        <article>
            <%= recipe.name %>
        </article>
    <% }); %>
</body>
</html>