<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
    <% locals.recipes.forEach(function(recipe) { %>
        <article class="card">
            <a href="/<%= recipe.slug %>"><%= recipe.name %></a>
        </article>
    <% }); %>
    </div>
</body>
</html>