<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
</head>
<body>
    <article>
        <h2><%= recipe.name %></h2>
        <% if (recipe.ingredientGroups.length > 1) { %>
            <%- include('../partials/ingredientGroups', { recipe: recipe }) %>
        <% } else { %>
            <%- include('../partials/singleIngredientGroup', { recipe: recipe }) %>
        <% } %>
    </article>
</body>
</html>